body,
html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

#main {
    margin: 0 10%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#taskbar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #f98868;
}

.taskkbar {
    float: left;
    width: 25%;
}

.taskkbar a {
    display: block;
    color: white;
    text-align: center;
    font-family: "Inconsolata", sans-serif;
    padding: 4%;
    text-decoration: none;
    font-size: 17px;
}

.taskkbar a:hover {
    background-color: #DC623F;
}

h1 {
    text-align: center;
    font-family: "courier";
}

.naslov {
    background-color: #80bd9e;
}

.rejting {
    text-align: center;
    font-family: "courier";
    background-color: #89da59;
}

.imgSkola {
    margin: auto;
    display: block;
    opacity: 0.85;
}

.rvreme {
    background-color: #f98868;
    color: white;
}

.nastavnik {
    float: left;
    background-color: #89da59;
    opacity: 0.6;
    border: 1px solid black;
    width: 16.5%;
    height: 140px;
    margin: 1.6%;
    text-align: center;
}

.nastavnikDana {
    display: block;
    margin: auto;
    background-color: #f98866;
    opacity: 0.6;
    border: 1px solid black;
    width: 25%;
    height: 140px;
    text-align: center;
}

.danNaslov {
    text-align: left;
    font-family: "courier";
}